/* @group Front page */

#statify_chart {
    color: #aaa;
    height: 140px;
    margin: 0 -4px;
    text-align: center;
}
#statify_chart_data {
    display: none;
}

#statify_dashboard .inside {
    height: 1%;
    margin: 0;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}

#statify_dashboard .table {
    padding-bottom: 12px;
}
#statify_dashboard .table p.sub {
    color: #BBB;
    margin: 0 0 -4px;
}
#statify_dashboard .table div {
    overflow: hidden;
}

#statify_dashboard .table.referrer {
    float: left;
    width: 45%;
}
#statify_dashboard .table.target {
    float: right;
    width: 55%;
}

#statify_dashboard td {
    padding: 8px 0 0;
    line-height: 1.4em;
}
#statify_dashboard td.b {
    text-align: right;
    padding-right: 4px;
    color: #777;
}
#statify_dashboard label {
    display: block;
    margin-bottom: 1.1em !important;
}

/* @end group */


/* @group Back stage */

#statify_dashboard form {
    padding: 18px 0;
}
#statify_dashboard input[type="number"] {
    width: 100px;
}

#statify_dashboard .meta-links {
    float: right;
    margin: 0;
    line-height: 28px;
}

/* @end group */
