* text eol=lf
*.jpg -text
*.png -text
*.gif -text

.git                         export-ignore
.gitignore                   export-ignore
.gitattributes               export-ignore
.eslintrc.json               export-ignore
.stylelintrc.json            export-ignore
