<phpunit bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>statify.php</file>
			<directory suffix=".php">inc</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="phpunit.coverage.xml"/>
		<log type="junit" target="phpunit.report.xml"/>
	</logging>
</phpunit>
